body {
  background: url(../images/common/base-bg.jpg);
}

.block {
  margin-bottom: 30px;
}

.block:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.w100 {
  width: 100%;
  padding: 5px;
  border: solid 1px #ccc;
}

.w100_n {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.mb50 {
  margin-bottom: 50px;
}

@media only screen and (max-width: 640px) {
  .mrl10px {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* ==================================
m a i n
================================== */

.main {
  background: url(../images/common/main_bg.gif) repeat-x;

  .main-img {
    width: 1000px;
    height: 290px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    img {
      vertical-align: bottom;
    }
  }

  .main-img::before {
    background: url(../images/common/t.svg) no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    bottom: 0;
  }
}

@media only screen and (max-width: 640px) {
  .main {
    width: 100%;
    overflow: hidden;

    .main-img {
      width: 100%;
      height: auto;
    }
    .main-img img {
      width: 100%;
    }
  }
}

/* ==================================
c o n t e n t
================================== */
.content {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: #fff;
}

@media only screen and (max-width: 640px) {
  .content {
    width: 100%;
  }
}

/* ==================================
c l e a r f i x
================================== */
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ==================================
m a t s u r i - s t y l e
================================== */
.matsuri-style {
  font-family: "勘亭流",Kanteiryu,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",arial,helvetica,clean,sans-serif;
}
